<div class="crs-grid__row crs-grid__row--centered" ng-controller="PropositionCtrl">
  <div class="crs-grid__column crs-grid__unit--sm-8">
    <h2 class="crs-utils--center">
      Chosen before
    </h2>
    <ul ng-repeat="proposition in celebrant.propositions.chosen">
      <li>
        {{ proposition.title }} chosen in {{ proposition.year_chosen_in }}
      </li>
    </ul>
    <h2 class="crs-typo__h2 crs-utils--center">
      Propositions
    </h2>
    <div class="propositions__container" ng-repeat="proposition in celebrant.propositions.current">
      <div ng-if="editPropositionId != proposition.id">
        <div vote="proposition"></div>
        <h3 class="crs-typo__h3">
          {{proposition.title}} by {{proposition.owner.name}}
        </h3>
        <p class="crs-typo__p">
          {{proposition.description}}
        </p>
        <h4 class="crs-typo__h4">
          Price: {{ proposition.value | currency: 'PLN' }}
        </h4>
        <div class="propositions__container">
          <button class="crs-button crs-button--small" ng-click="chooseProposition(proposition)" type="button">Mark as bought</button><button class="crs-button crs-button--secondary crs-button--small propositions__edit" ng-click="editProposition(proposition.id)" ng-if="currentUser.id == proposition.owner.id" type="button">Edit</button><button class="crs-button crs-button--small propositions__delete" type="button">Delete</button>
        </div>
      </div>
      <form ng-if="editPropositionId == proposition.id" ng-submit="updateProposition(proposition)">
        <div class="crs-input__group">
          <textarea class="form__validate" minlength="2" ng-model="proposition.description" ng-model-options="{ updateOn: &#39;blur&#39; }"></textarea><label>Description</label>
        </div>
        <div class="crs-input__group">
          <input class="form__validate" ng-model="proposition.value" ng-model-options="{ updateOn: &#39;blur&#39; }" type="number" /><label>Value</label>
        </div>
        <div align="right">
          <input class="crs-button crs-button--success crs-button--small" type="submit" value="Save" /><button class="crs-button crs-button--secondary crs-button--small" ng-click="cancelEditProposition()" type="button">x</button>
        </div>
      </form>
      <div ng-include="&#39;assets/comments.html&#39;"></div>
    </div>
    <form ng-submit="createProposition()">
      <h2 class="crs-typo__h2">
        Add your own proposition!
      </h2>
      <div class="crs-input__group">
        <input class="form__validate" minlength="2" ng-model="newProposition.title" ng-model-options="{ updateOn: &#39;blur&#39; }" type="text" /><label>Title</label>
      </div>
      <div class="crs-input__group">
        <textarea class="form__validate" minlength="2" ng-model="newProposition.description" ng-model-options="{ updateOn: &#39;blur&#39; }"></textarea><label>Description</label>
      </div>
      <div class="crs-input__group">
        <input class="form__validate" ng-model="newProposition.value" ng-model-options="{ updateOn: &#39;blur&#39; }" type="number" /><label>Value</label>
      </div>
      <input class="crs-button crs-button--success" type="submit" value="Save" />
    </form>
  </div>
</div>