@font-face {
  font-family: 'cuirass-icons';
  src:font-url('cuirass-icons.eot?8klmqb');
  src:font-url('cuirass-icons.eot?#iefix8klmqb') format('embedded-opentype'),
    font-url('cuirass-icons.woff?8klmqb') format('woff'),
    font-url('cuirass-icons.ttf?8klmqb') format('truetype'),
    font-url('cuirass-icons.svg?8klmqb#cuirass-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


i,
.crs-icon-circle-cross-mark-02 {
  font-family: 'cuirass-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.crs-icon-user:before {
  content: "\e600";
}

.crs-icon-envelope-closed-02:before {
  content: "\e601";
}

.crs-icon-envelope-open-empty:before {
  content: "\e602";
}

.crs-icon-circle-info-02:before {
  content: "\e603";
}

.crs-icon-circle-exclamation-mark-02:before {
  content: "\e604";
}

.crs-icon-minus:before {
  content: "\e605";
}

.crs-icon-plus:before {
  content: "\e606";
}

.crs-icon-cross-mark:before {
  content: "\e607";
}

.crs-icon-circle-check-mark-02:before {
  content: "\e608";
}

.crs-icon-circle-minus-02:before {
  content: "\e609";
}

.crs-icon-circle-plus-02:before {
  content: "\e60a";
}

.crs-icon-circle-cross-mark-02:before {
  content: "\e60b";
}

.crs-icon-house:before {
  content: "\e60c";
}

.crs-icon-pencil:before {
  content: "\e60d";
}

.crs-icon-wrench:before {
  content: "\e60e";
}

.crs-icon-power-button:before {
  content: "\e60f";
}

.crs-icon-list:before {
  content: "\e610";
}

.crs-icon-nine-squares:before {
  content: "\e611";
}

.crs-icon-phone-receiver-02:before {
  content: "\e612";
}

.crs-icon-chain:before {
  content: "\e613";
}

.crs-icon-two-arrows-refresh:before {
  content: "\e614";
}

.crs-icon-shield:before {
  content: "\e615";
}

.crs-icon-arrow-left-07:before {
  content: "\e616";
}

.crs-icon-arrow-right-07:before {
  content: "\e617";
}

.crs-icon-arrow-down-07:before {
  content: "\e618";
}

.crs-icon-arrow-up-07:before {
  content: "\e619";
}

.crs-icon-magnifying-glass:before {
  content: "\e61a";
}

.crs-icon-pencil-02:before {
  content: "\e61b";
}

.crs-icon-square-social-02:before {
  content: "\e61c";
}

.crs-icon-square-social-01:before {
  content: "\e61d";
}

.crs-icon-circle-question-mark-02:before {
  content: "\e61e";
}

.crs-icon-location-02:before {
  content: "\e61f";
}

.crs-icon-arrows-four-directions-04:before {
  content: "\e620";
}

.crs-icon-two-arrows-refresh-03:before {
  content: "\e621";
}

.crs-icon-eye-02:before {
  content: "\e622";
}

.crs-icon-document-blank:before {
  content: "\e623";
}

.crs-icon-speech-bubble:before {
  content: "\e624";
}

.crs-icon-cog:before {
  content: "\e994";
}

