.header__today
  color: white
  padding-bottom: 40px

.header__upcoming
  color: white
  font-family: $crs-global-font
  font-size: 30px

.header__birthdaylist
  color: white
  font-family: $crs-global-font-secondary
  font-size: 40px
  padding-bottom: 20px

.header__withoutbirthday
  color: white
  font-family: $crs-global-font-secondary
  font-size: 40px
  padding-bottom: 20px

.dashboard__avatar
  // stylowke nadpisujaca component .crs-avatar
