@import ../base/global

.mainpage__background
  height: auto
  width: auto
  overflow: hidden
  position: fixed

  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    background: rgba($crs-filter-color, 0.4)

.mainpage__foreground
  position: relative
  z-index: 2

.mainpage__image-background
  width: 100%
  height: 100%
  min-width: 1300px

.mainpage__birthdaylist
  margin-left: 80px
  margin-top: 50px

.list__item
  padding-bottom: $crs-global-list-item-space

.today-birthday-list__item
  padding-bottom: $crs-global-list-item-space * (4/3)

.person__index
  color: $crs-tertiary-color
  margin-left: 1rem
  vertical-align: middle
  display: inline-block
  line-height: 1.5
  font-size: $crs-global-font-size
  text-shadow: $crs-global-shadow
  letter-spacing: $crs-global-letter-spacing

  &:hover
    cursor: pointer

.mainpage__header
  padding-bottom: $crs-global-list-item-space * (4/3)
  font-size: $crs-header-h1-size
  text-shadow: $crs-global-shadow
  letter-spacing: $crs-global-letter-spacing

.birthdaylist__month
  padding-bottom: $crs-global-list-item-space
  border-bottom: 1px solid $crs-tertiary-color
  width: 50%

.person__today--avatar
  max-height: 7.5rem
  position: relative
  vertical-align: middle

.person__today--hat
  transform: rotate(-17deg)
  width: 100px
  position: absolute
  left: 0
  top: -40px

.person__index
  color: $crs-tertiary-color
  margin-left: 1rem
  &:hover
    cursor: pointer

