
.propositions__container
  border: 1px solid $crs-tertiary-color
  padding: 2rem
  margin-bottom: 2rem

.propositions__delete
  float: right

.chosen__item
  display: inline

.delete__icon
  font-size: 10px
  float: right
  padding: 4px 7px
  vertical-align: top
  &:hover
    background-color: red
    color: white
    cursor: pointer
    border-radius: 5px
    &:before
      content: 'BACK'
      vertical-align: top
      margin-right: 5px
