
.propositions__container
  border: 1px solid $crs-tertiary-color
  padding: 2rem
  margin-bottom: 2rem

.propositions__delete
  position: absolute
  bottom: 0
  right: 10px

.propositions__container
  position: relative
