
.user__container,
  position: relative

.user__image
  position: absolute
  width: 100%
  height: 100%
  background-position: center center
  background-size: cover
  opacity: 0.2

.user__background
  background-color: rgba($crs-secondary-color, 0.8)

.celebrant__avatar
  border-radius: 100%
  max-height: rem(175px)
  display: inline-block
  vertical-align: middle
  box-shadow: $crs-global-shadow

.celebrant__about
  margin-left: $crs-userpage-celebrant-padding * 1.5

.celebrant__description--edit
  margin-top: $crs-userpage-celebrant-padding

.propositions__edit
  margin-left: 20px
