// z-index stack concept
// The higher the name in this stack, the higher the z-index value
$z-index-list:
  modal,
  modal-bg,
  mobile-trigger,
  topbar,
  mobile,
  notify,
  sidebar,
  dropdown;

$step: 100;
$index: length($z-index-list) * $step + $step;

// @mixin z-index-calc($stack, $prefix: '%crs-z-', $step: 100)
// $stack is required
// $prefix is optional, default '%crs-z-' placeholder prefix
// $step is optional, default 100

// With the default example add @extend %crs-z-modal for modal z-index
// @include z-calc($z-index-list);
