<% if user_signed_in? %>
  <%= form_tag(sso.sign_out_path, method: :delete) do %>
    <%= submit_tag 'Wyloguj' %>
<% end %>

  <span><%= current_user.name %></span>
<% else %>
  <%= link_to 'Zaloguj', sso.sign_in_path %>
<% end %>
