@import ../base/global

// config
$crs-table-border: darken($crs-tertiary-color, 10%)

.crs-table
  font-weight: $crs-global-font-weight
  font-size: rem(14px)
  font-family: $crs-global-font

  tr
    border-bottom: 1px solid $crs-table-border
    box-sizing: border-box
    border-left: rem(4px) solid transparent

    &:hover
      background: #fafafa

    &.crs-table__tr--success
      border-left: rem(4px) solid $crs-success-color

      &:hover
        background: lighten($crs-success-color, 48%)

    &.crs-table__tr--error
      border-left: rem(4px) solid $crs-error-color

      &:hover
        background: lighten($crs-error-color, 43%)

    &.crs-table__tr--alert
      border-left: rem(4px) solid $crs-alert-color

      &:hover
        background: lighten($crs-alert-color, 42%)

    &.crs-table__tr--info
      border-left: rem(4px) solid $crs-info-color

      &:hover
        background: lighten($crs-info-color, 35%)

  td, th
    padding: rem(8px) rem(16px)

    a, .crs-typo__a
      font-weight: 300

  th
    border-bottom: 1px solid #ccc

  .crs-table--has-button
    padding: 0
    text-align: center

  button,
  .crs-button
    padding: rem(6px) rem(14px)
    margin-bottom: 0
    font-size: rem(14px)

.crs-table__container
  overflow-x: auto
