.crs-notify.crs-notify--error.crs-notify--show#notifyError ng-show="showMessage"
  img.crs-notify__image img='avatarerror.png'
	.crs-notify__message ng-bind="message"
	button.crs-notify__close type="button" ng-click="closeMessage()"
