p.crs-typo__p
  | {{ proposition.rating }}
button.crs-button type="button" ng-show="hasCurrentUserVoted" ng-click="unvote(proposition)" unvote
button.crs-button type="button" ng-hide="hasCurrentUserVoted" ng-click="vote(proposition)" vote
